name: Orchestrate Builds

run-name: ${{ format('Orchestrate Builds - {0}', github.run_id) }}

on:
  workflow_dispatch:

jobs:
  repoA-build:
    uses: ./.github/workflows/trigger-and-wait.yml
    with:
      repo: 'amisovic/repoA'
      workflow: 'build.yml'
      run_id: ${{ github.run_id }}
      run_timeout_seconds: 600
      branch: ${{ github.ref_name }}
    secrets:
      token: ${{ secrets.PAT_WORKFLOWS }}
  repoB-build:
    needs: repoA-build
    uses: ./.github/workflows/trigger-and-wait.yml
    with:
      repo: 'amisovic/repoB'
      workflow: 'build.yml'
      run_id: ${{ github.run_id }}
      run_timeout_seconds: 600
      branch: ${{ github.ref_name }}
    secrets:
      token: ${{ secrets.PAT_WORKFLOWS }}
  repoC-build:
    needs: repoA-build
    uses: ./.github/workflows/trigger-and-wait.yml
    with:
      repo: 'amisovic/repoC'
      workflow: 'build.yml'
      run_id: ${{ github.run_id }}
      run_timeout_seconds: 300
      branch: ${{ github.ref_name }}
    secrets:
      token: ${{ secrets.PAT_WORKFLOWS }}
  repoD-build:
    needs: repoA-build
    uses: ./.github/workflows/trigger-and-wait.yml
    with:
      repo: 'amisovic/repoD'
      workflow: 'build.yml'
      run_id: ${{ github.run_id }}
      run_timeout_seconds: 600
      branch: ${{ github.ref_name }}
    secrets:
      token: ${{ secrets.PAT_WORKFLOWS }}
  repoE-build:
    needs: [repoB-build, repoC-build, repoD-build]
    uses: ./.github/workflows/trigger-and-wait.yml
    with:
      repo: 'amisovic/repoE'
      workflow: 'build.yml'
      run_id: ${{ github.run_id }}
      run_timeout_seconds: 600
      branch: ${{ github.ref_name }}
    secrets:
      token: ${{ secrets.PAT_WORKFLOWS }}