name: Orchestrate Builds

run-name: ${{ format('Orchestrate Builds - {0}', github.run_id) }}

on:
  workflow_dispatch:

jobs:
  repoA-build:
    uses: ./.github/workflows/trigger-and-wait.yml
    with:
      repo: 'amisovic/repoA'
      branch: ${{ github.ref_name }}
      workflow: 'build.yml'
      run_id: ${{ github.run_id }}
      run_timeout_seconds: 600
    secrets:
      token: ${{ secrets.PAT_WORKFLOWS }}
  repoB-build:
    needs: repoA-build
    uses: ./.github/workflows/trigger-and-wait.yml
    with:
      repo: 'amisovic/repoB'
      branch: ${{ github.ref_name }}
      workflow: 'build.yml'
      run_id: ${{ github.run_id }}
      run_timeout_seconds: 600
    secrets:
      token: ${{ secrets.PAT_WORKFLOWS }}
  repoC-build:
    needs: repoA-build
    uses: ./.github/workflows/trigger-and-wait.yml
    with:
      repo: 'amisovic/repoC'
      branch: ${{ github.ref_name }}
      workflow: 'build.yml'
      run_id: ${{ github.run_id }}
      run_timeout_seconds: 300
    secrets:
      token: ${{ secrets.PAT_WORKFLOWS }}
  repoD-build:
    needs: repoA-build
    uses: ./.github/workflows/trigger-and-wait.yml
    with:
      repo: 'amisovic/repoD'
      branch: ${{ github.ref_name }}
      workflow: 'build.yml'
      run_id: ${{ github.run_id }}
      run_timeout_seconds: 600
    secrets:
      token: ${{ secrets.PAT_WORKFLOWS }}
  repoE-build:
    needs: [repoB-build, repoC-build, repoD-build]
    uses: ./.github/workflows/trigger-and-wait.yml
    with:
      repo: 'amisovic/repoE'
      branch: ${{ github.ref_name }}
      workflow: 'build.yml'
      run_id: ${{ github.run_id }}
      run_timeout_seconds: 600
    secrets:
      token: ${{ secrets.PAT_WORKFLOWS }}
  post-statuses:
    needs: [repoA-build, repoB-build, repoC-build, repoD-build, repoE-build]
    runs-on: ubuntu-latest
    steps:
    - name: Dispatch success to repos
      run: |
        repos=("amisovic/repoA" "amisovic/repoB" "amisovic/repoC" "amisovic/repoD" "amisovic/repoE")
        branch="${{ github.ref_name }}"
        for repo in "${repos[@]}"; do
          echo "Dispatching to $repo"
          pr_number=$(gh pr list --repo $repo --head $branch --base main --json number -q '.[0].number')
          if [ -n "$pr_number" ]; then
            head_sha=$(gh pr view $pr_number --repo $repo --json headRefOid -q '.headRefOid')
            gh api /repos/$repo/dispatches -f event_type=orchestrate-success -f client_payload[head_sha]=$head_sha
            echo "Dispatched to $repo"
          else
            echo "No PR found for $repo"
          fi
        done
      env:
        GITHUB_TOKEN: ${{ secrets.PAT_WORKFLOWS }}